<html>

<head>
    <title>Add my customer</title>
</head>

<body>


    <table>
        <tr>
            <td colspan="2" style="background-color:#FFA500;">
                <h1> Demo Book Catalog</h1>
            </td>
        </tr>
        <tr>
            <td style="background-color:#eeeeee;">

                <form action="" method="post">
                    <% if(table = "customer"){%>
                    First name: <input type="text" name="first_name" id="first_name"><br />
                    Last name: <input type="text" name="last_name" id="last_name"><br />
                    Email: <input type="text" name="email" id="email"><br />
                    Address: <input type="text" name="address" id="address"><br />
                    Postal code: <input type="text" name="postal_code" id="postal_code"><br />
                    Handphone no.: <input type="text" name="handphone" id="handphone"><br />
                    Date of birth: <input type="date" name="DOB" id="DOB"><br />
                    Job Title: <input type="text" name="job_title" id="job_title"><br />
                    Company: <input type="text" name="company" id="company"><br />
                    Salary: <input type="text" name="salary" id="salary"><br />
                    Username: <input type="text" name="userName" id="userName"><br />
                    Password: <input type="password" name="password" id="password"><br />
                    <% } %>

                    <% if(table = "staff"){%>
                        First name: <input type="text" name="first_name" id="first_name"><br />
                        Last name: <input type="text" name="last_name" id="last_name"><br />
                        Email: <input type="text" name="email" id="email"><br />
                        Position: <input type="text" name="position" id="position"><br />
                        Department: <input type="text" name="department" id="department"><br />
                        Username: <input type="text" name="userName" id="userName"><br />
                    Password: <input type="password" name="password" id="password"><br />
                    <% } %>



                    <% if(table = "department"){%>
                        Department ID: 
                        Department name:
                    <% } %>


                    <% if(table = "access_type"){%>
                        Access_ID: 
                        Name:
                        Approval Limit:
                        Department:
                    <% } %>

                    <% if(table = "access"){%>
                        Account ID:
                        Access Type:
                    <% } %>

                    <% if(table = "loan_type"){%>
                        Loan Type ID:
                        Name:
                        Description:
                        Min Amount:
                        Max Amount:
                        Duration:
                        Interest:
                        Last Interest:
                        Department:
                    <% } %>

                    <% if(table = "loan"){%>
                        Loan Type:
                        Status:
                        Customer:
                        Approver:
                        Remarks:
                        Loan Amount:
                        Application Date:
                        Approval Date:
                        Outstanding Amount:
                        Start Date:
                        End Date:

                    <% } %>

                    <% if(table = "payment"){%>
                        Transaction Type:
                        Loan ID:
                        Payment Amount:
                        Interest Rate:
                        Principal Amount:
                        Start Date:
                        End Date:
                        Payment Frequency:

                    <% } %>

                    <% if(table = "transaction_type"){%>
                        Transaction Type ID:
                        Name:

                    <% } %>
                    <input type="submit" name="add me" value="display">

                </form>
            </td>
        </tr>
        <tr>
            <td>

            </td>
        </tr>
    </table>


</body>

</html>