<html>
<head> <title>Admin</title> </head>
<body>
    <table>
            <tr> <td colspan="2" style="background-color:#FFA500;">
            <h1> Demo Book Catalog</h1>
            </td><td>
                Staff
            </td> </tr>
            <tr>
                <td>
                    <a href="admin/view/customer">Customer</a>
                </td>
                <td>
                    <a href="admin/view/staff">Staff</a>
                </td>
            </tr>
            <tr>
                <td>
                        <a href="admin/view/department">Department</a>
                </td>
                <td>
                    <a href="admin/view/loan">Loan</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="admin/view/loan_type">Loantype</a>
                </td>
                <td>
                    <a href="admin/view/payment">Payment</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="admin/view/transaction_type">Transaction Type</a>
                </td>
                <td>
                    <a href="admin/view/access">Access</a>
                    <a href="admin/view/access_ype">Access_type</a>
                </td>
            </tr>
    </table>
</body>
</html>