<html>
<head> <title>Admin</title> </head>
<body>
    <table>
            <tr> <td colspan="2" style="background-color:#FFA500;">
            <h1> Demo Book Catalog</h1>
            </td><td>
                Staff
            </td> </tr>
            <tr>
                <td>
                    <a href="admin/view?table=customer">Customer</a>
                </td>
                <td>
                    <a href="admin/view?table=staff">Staff</a>
                </td>
            </tr>
            <tr>
                <td>
                        <a href="admin/view?table=department">Department</a>
                </td>
                <td>
                    <a href="admin/view?table=loan">Loan</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="admin/view?table=request">Loan Request</a>
                </td>
                <td>
                    <a href="admin/view?table=payment">Payment</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="admin/view?table=transactionType">Transaction Type</a>
                </td>
                <td>
                    <a href="admin/view?table=access">Access</a>
                </td>
            </tr>
    </table>
</body>
</html>