<html>
<head> <title>Add my customer</title> </head>
<body>


    <table>
        <tr> <td colspan="2" style="background-color:#FFA500;">
        <h1> Demo Book Catalog</h1>
        </td> </tr><tr>
            <td style="background-color:#eeeeee;">
            <form action = "" method = "post" >
                Username: <input type="text" name="userName" id="userName"><br/>
                Password: <input type="password" name="salary" id="password"><br/>
                <input type="submit" name="add me" value="display">
            </form>
        </td> </tr>
        <tr><td>

        </td>
        </tr>
    </table>


</body>
</html>