<html>
<head> <title>Demo Online Book Catalog</title> </head>

<body>
<table>
<tr> <td colspan="2" style="background-color:#FFA500;">
<h1> Demo Book Catalog</h1>
</td> </tr>
<tr>
<td style="background-color:#eeeeee;">


<tr><td>Testing
    <form action="/addCustomer">
        <input type="text" name="hi" id="hi" value = "hello">
        <input type="submit" name="add me" value="display">
    </form>
</td></tr>
<tr>
    <td>
        <a href="/admin">Admin</a>
    </td>
</tr>

<tr>
<td colspan="2" style="background-color:#FFA500; text-align:center;"> Copyright &#169; TIC2601
</td> </tr>
</table>

</body>
</html>

