<html>

<head>
    staff
</head>

<body>
        <H1>Staff</H1>


        Staff name: <br/>
        Department: <br/>
        Position: <br/>

        Access: 

        loan with status = 1, 2, 3 or 4?

        view exisiting loan:
        select * from loan where department = {select department from staff where staff_id = ?};
        




</body>
</html>